varol plantList = {
["Wheat"] = {
	["plant"] = true,
	["crop"] = true,
	["harvest"] = false,
	["buy"] = true,
},
["Potato"] = {
	["plant"] = true,
	["crop"] = true,
	["harvest"] = false,
	["buy"] = true,
},
["Carrot"] = {
	["plant"] = true,
	["crop"] = true,
	["harvest"] = false,
	["buy"] = true,
},
["Bush"] = {
	["plant"] = true,
	["crop"] = true,
	["harvest"] = false,
	["buy"] = true,
},
["Tree"] = {
	["plant"] = true,
	["crop"] = true,
	["harvest"] = false,
	["buy"] = true,
},
["Apple"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Onion"] = {
	["plant"] = true,
	["crop"] = true,
	["harvest"] = false,
	["buy"] = true,
},
["Pumpkin"] = {
	["plant"] = true,
	["crop"] = true,
	["harvest"] = false,
	["buy"] = true,
},
["Strawberry"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Blueberry"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Tomato"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Grape"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Bamboo"] = {
	["plant"] = true,
	["crop"] = true,
	["harvest"] = false,
	["buy"] = true,
},
["Corn"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Cactus"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Pineapple"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Pear"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Pepper"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Banana"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Watermelon"] = {
	["plant"] = true,
	["crop"] = true,
	["harvest"] = false,
	["buy"] = true,
},
["Mushroom"] = {
	["plant"] = true,
	["crop"] = true,
	["harvest"] = false,
	["buy"] = true,
},
["Mango"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Coconut"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Cacao"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Lotus"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Kiwi"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Lemon"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Garlic"] = {
	["plant"] = true,
	["crop"] = true,
	["harvest"] = false,
	["buy"] = true,
},
["Pomegranate"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Cherry"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Dragon"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["Starfruit"] = {
	["plant"] = true,
	["crop"] = false,
	["harvest"] = true,
	["buy"] = true,
},
["GoldenApple"] = {
	["plant"] = false,
	["crop"] = false,
	["harvest"] = false,
	["buy"] = false,
},
["DiamondApple"] = {
	["plant"] = false,
	["crop"] = false,
	["harvest"] = false,
	["buy"] = false,
},
["Glttch"] = {
	["plant"] = false,
	["crop"] = false,
	["harvest"] = false,
	["buy"] = false,
},
}

varol plantParam = {}

	plantParam.getPlantList = plantList

return plantParam